.Navbar {
    padding: 10px;
      text-decoration: none;
  color: #625c5c;;
  transition: all 150ms ease-in-out;
  display: flex;
  align-items:center ;
  position: relative;
  }

  ul {
    margin: 0px;
    padding: 0;
    text-align: right;
    margin-left: auto;
  }
  
  li {
    display: inline;
    list-style: none;
    line-height: 75px;
    margin-left: 15px;
  }

 .navlink {
    text-decoration: none;
    color: var(--fifth-color);
    transition: all 150ms ease-in-out;
  }
  
  .logo {
    max-width: 100px;
  }

  

  

 